.TabelaProdutos thead {
  background-color: #000000;
  color: #fff;
}

.TabelaProdutos table {
  width: 100%;
}

.TabelaProdutos .Par {
  background-color: #ddd;
}

.TabelaProdutos .Impar {
  background-color: #cccccc;
}
